@import url(./fonts.css);


/* CUSTOM PROPS */
:root {
    --orange: #F18128;
    --dark-blue: #040D1F;
    --white: #fff;
    --black: #000;
    --Comfortaa: "Comfortaa";
    --Montserrat: "Montserrat";
    --Roboto: "Roboto";
}

/* GLOBAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: var(--Montserrat);
}

/* BTN */
.btn {
    display: inline-block;
    padding: 17px 47px;
    background-color: var(--orange);
    border: 1px solid var(--black);
    border-radius: 4px;
    text-align: center;
    font-family: var(--Roboto);
    font-size: 14px;
    font-weight: 500;
    line-height: 12px;
    color: var(--black);
    width: max-content;
    transition: .5s;
}
.btn:hover {
    background-color: var(--dark-blue);
    color: var(--white);
    cursor: pointer;
}
.btn:active {
    opacity: .7;
}

/* TITLE */

.title {
    color: var(--orange);
    font-family: var(--Comfortaa);
    font-size: 36px;
    font-weight: 400;
    text-transform: capitalize;
    border-bottom: 2px solid var(--orange);
    width: max-content;

}

/* SITE-ADS */
.site-ads {
    display: block;
    background: linear-gradient(90deg, #0031AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
}

.site-ads__span {
    font-family: var(--Comfortaa);
    max-width: 166px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
}
/* SITE-ADS */