@import url(./fonts.css);


/* CUSTOM PROPS */
:root {
    --orange: #F18128;
    --dark-blue: #040D1F;
    --white: #fff;
    --black: #000;
    --Comfortaa: "Comfortaa";
    --Montserrat: "Montserrat";
    --Roboto: "Roboto";
}

/* GLOBAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: var(--Montserrat);
}


/* CONTAINER */
.container {
    max-width: 1143px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
/* BTN */
.btn {
    display: inline-block;
    padding: 17px 47px;
    background-color: var(--orange);
    border: 1px solid var(--black);
    border-radius: 4px;
    text-align: center;
    font-family: var(--Roboto);
    font-size: 14px;
    font-weight: 500;
    line-height: 12px;
    color: var(--black);
    width: max-content;
    transition: .5s;
}
.btn:hover {
    background-color: var(--dark-blue);
    color: var(--white);
    cursor: pointer;
}
.btn:active {
    opacity: .7;
}

/* TITLE */

.title {
    color: var(--orange);
    font-family: var(--Comfortaa);
    font-size: 36px;
    font-weight: 400;
    text-transform: capitalize;
    border-bottom: 2px solid var(--orange);
    width: max-content;

}
/* SITE-ADS */
.site-ads {
    display: block;
    background: linear-gradient(90deg, #0031AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
}

.site-ads__span {
    font-family: var(--Comfortaa);
    max-width: 166px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
}
/* SITE-ADS */

/* SITE-HEADER */
.site-header {
    width: 100%;
    background: var(--black);
    backdrop-filter: blur(7.5px);
    position: fixed;
    left: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--white);
    font-size: 18px;
    font-weight: 700;
    font-family: var(--Comfortaa);
    text-transform: uppercase;
}
.logo-image {
    object-fit: cover;
}
.site-header__list {
    display: flex;
}

.site-header__link {
    display: inline-block;
    padding: 42px 12px 42px 12px;
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    transition: .5s;
    position: relative;
}
.site-header__link::after {
    content: "";
    display: block;
    border-radius: 23px 10px 0px 0px;
    background: #ED8E00;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s;
}
.site-header__link:hover {
    color: var(--orange);
}
.site-header__link:hover::after {
    width: 100%;
}
/* SITE-HEADER */